body {
    background: #fafafa;
    color: #333333;
    padding-bottom: 30px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: auto;
    margin: auto;
    flex-wrap: wrap;
    align-content: center;
}


/* */

h1 {
    text-align: center;
}

.h2 {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

/* kopiert fra forrige prosjekt*/

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

p {
   text-align: center; 
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: auto;
    margin: auto;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a:visited {
    color: #ddd;
}

section {
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed; /* For å holde footeren fast i bunnen */
    bottom: 0;
    width: 100%;
    height: 60px;
}


footer a {
    color: #fff;
}

main {
    padding: 50px; /* Legger til 20 piksler padding på alle kanter */
    padding-bottom: 50px; 
    
}